* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: #483D8B;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../assets/images/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #a3a3a3;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: white;
}
header nav {
    margin: 10px 20px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
section {
    padding: 60px;
    text-align: center;
}
footer {
    background: #483D8B;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h3 {
    color: white;
    font-size: 30px;
    margin: 0;
}
.hero {
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;

}
.section-title {
    font-size: 36px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border {
    border-color: #483D8B;
}
